<div class="form_item_block">
    <% tasks = scope[:job].getTasks()%>
    
    <% scope[:job_form].fields_for com.thoughtworks.cruise.config.JobConfig::TASKS, tasks do |tasks_form| %>
        <div class="fieldset">
            <div class="form_item required">
                <%= label_tag random_dom_id('task_type_'), l.string("TASK_TYPE")+"<span class=\"asterisk\">*</span>" %>
                <%= tasks_form.select(com.thoughtworks.cruise.config.Tasks::TASK_OPTIONS, task_options, {:selected => tasks.getTaskOptions()}, {:class => "task_type", :id => "job_task_options"}) %>
            </div>
            <div id="job_tasks">
                <% @task_view_models.each do |tvm|
                   taskk = tvm.getModel()
                   task_class_name = taskk.java_class.simple_name
                   next if task_class_name == "FetchTask"
                %>
                    <div class="hidden task_entry <%=task_class_name-%>">
                        <% tasks_form.fields_for task_class_name, taskk do |task_form| %>
                            <%= render_pluggable_form_template(task_view_service.getViewModel(taskk, 'new'), form_name_provider(task_form), { :scope => {:task => taskk, :form => task_form, :hide_runif => scope[:hide_runif]}}) -%>
                        <% end %>
                    </div>
                <% end %>
            </div>
        </div>

    <% end %>
    <script type="text/javascript">
        Util.on_load(function() {
            new TaskEditor.TypeEditor({container: jQuery('#job_tasks'), switch_control: jQuery('#job_task_options'), entry_to_be_hidden: '.task_entry'});
        });
    </script>
</div>
