$image-path: '/go/images/';
$image-path-g9: '/go/images/g9/backgrounds/';
$image-path-g9-bg: '/go/images/g9/backgrounds/';
$image-path-andare: '/go/images/andare/';
$image-path-g9-icon: '/go/images/g9/icons/';
