

.content_header h3 { 
  display: inline;
  float: left;
}

.content_header ul {
  float: right;
  clear:right;
}

.content_header ul li { 
  display: inline;
  font-size: 9pt;
  padding-right: 3em;
}

a.contextual_help { 
  color: #fff;
  cursor: help;
}

.material li span {
  display: inline;
  margin-right: .5em;
  vertical-align: top;
}

.material div.deployment_info {
    margin-left: 1em;
}

.material div.deployment_info div {
    margin-bottom: .5em;
}

.material div.revisions {
    overflow-y:auto;
    margin-bottom: 1em;
    border: 1px solid #9E9E9E;
}

.material .current {
    font-style: italic;
}

.content_header ul li strong {
  color: #fff;
  font-size: 10pt;
  padding-left: 1em;
}



.shadedDefaultValue {
    color: #aaa;
}
