<%- @view_title = "Administration" -%>
<div id="pipeline_snippet_view">
    <% scope = {:modifiable_groups => @modifiable_groups, :group_name => @group_name}; -%><div id="modifiable_groups">
    <h1>Pipeline Groups</h1>
    <ul>
        <%- scope[:modifiable_groups].each do |group| -%>
            <%- class_name = ""%>
            <%- class_name = "selected" if group == scope[:group_name]-%>
            <li class="<%= class_name %>"><span><%= link_to group, pipelines_snippet_show_path(:group_name => group), :class => "modifiable_group_link", :title => group %></span></li>
        <% end -%>
    </ul>
</div>


    <div id="view_group">
        <div class="form_buttons">
            <%= link_to l.string("EDIT"), pipelines_snippet_edit_path(:group_name => @group_name), :class => 'edit link_as_button ' -%>
        </div>
        <pre id="content_container" class="wrap_pre"><%= h(@group_as_xml) %></pre>
    </div>
</div>