<div class="build-cause-summary-container">
    <table>
        {var materials = new MaterialArray(materialRevisions)}
        {for material in materials.all}
        <tbody>
        <tr>
            <th colspan="3" class="last highlight-${%material.changed%}">${% material.name() %}</th>
        </tr>
        {for modification in material.modifications}
        {if material.shouldRenderModifications()}
        <tr>
            <td class="highlight-${%material.changed%} user">${% modification.user %}</td>
            <td class="highlight-${%material.changed%} comment">
                {if material.isPackage()}
                #parse('shared/_package_material_revision_comment.vm')
                {else}
                    ${% modification.comment.replace(/\n/g,"<br>") %}
                {/if}
            </td>
            <td class="last_highlight-${%material.changed%} revision">${% modification.revision %}</td>
        </tr>
        {else}
        <tr>
            <td colspan="3" class="last_highlight-${%material.changed%} revision">
                <a href="$req.getContextPath()/${% material.revision_href %}">${% material.revision %}</a>
            </td>
        </tr>
        {/if}
        {/for}
        </tbody>
        {/for}
    </table>
</div>