/**
 * Admin_pipeline_groups.css
 */
 

/**
 * TABLE OF CONTENTS
 *
 * =EDIT
 * =INDEX
 * =NEW
 * =PARTIALS
 * ==DELETE_PIPELINE
 * ==DELETE_PIPELINE_GROUP
 * ==PERMISSIONS_TABLE
**/


/**
 * =EDIT
**/


/**
 * =INDEX
**/
#tab-content-of-pipeline-groups .resources_selector.scrollable_panel {
    max-height: 17em;
    max-width: 17em;
    overflow-x: auto;
    overflow-y: auto;
}

/**
 * =NEW
**/

/**
 * =PARTIALS
**/


/**
 * ==DELETE_PIPELINE
**/


/**
 * ==DELETE_PIPELINE_GROUP
**/


/**
 * ==PERMISSIONS_TABLE
**/
