/**
 * Admin_materials_shared.css
 */
 

/**
 * TABLE OF CONTENTS
 *
 * =PARTIALS
 * ==CHECK_CONNECTION
 * ==DEST_FOLDER
 * ==FILTER
 * ==MATERIAL_NAME
 * ==OPTIONS
 * ==PASSWORD
 * ==PLAIN_PASSWORD
 */
 
 
/**
 * =PARTIALS
**/


/**
 * ==CHECK_CONNECTION
**/


/**
 * ==DEST_FOLDER
**/



/**
 * ==FILTER
**/



/**
 * ==MATERIAL_NAME
**/



/**
 * ==OPTIONS
  **/


.material_options.form_item_block input[type="checkbox"],
.material_options .fieldWithErrors input.form_input{
    float: left;
}

.material_options label {
    float:left;
    margin-top: 5px;
}

.material_options .form_error{
       margin-top: 5px;
}

/**
 * ==PASSWORD
**/



/**
 * ==PLAIN_PASSWORD
**/
