<?xml version="1.0" encoding="UTF-8"?>
<!--
  - Application context definition for the data access layer.
  - Accessed by business layer objects defined in "applicationContext.xml"
  - (see web.xml's "contextConfigLocation").
  -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>
    <import resource="propertyConfigurer.xml"/>

    <bean class="com.thoughtworks.studios.shine.cruise.stage.StagesQuery" lazy-init="false" id="stagesQuery">
        <constructor-arg index="0" ref="lazyStageGraphLoader"/>
        <constructor-arg index="1" ref="stagesQueryCruiseCache"/>
    </bean>


    <bean id="shineDao" class="com.thoughtworks.cruise.server.dao.sparql.ShineDao" lazy-init="false">
        <constructor-arg ref="stagesQuery" index="0"/>
        <constructor-arg ref="stageService" index="1"/>
        <constructor-arg ref="pipelineHistoryService" index="2"/>
    </bean>


</beans>
