<?xml version="1.0" encoding="UTF-8"?>

<!--suppress AutowiredDependenciesInspection -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd" default-init-method="init">

    <context:annotation-config/>

    <context:component-scan base-package="com.thoughtworks.cruise.util"/>
    <context:component-scan base-package="com.thoughtworks.cruise.serverhealth"/>
    <context:component-scan base-package="com.thoughtworks.cruise.domain"/>
    <context:component-scan base-package="com.thoughtworks.cruise.service"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.extensions"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.sweepers"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.cache"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.service"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.service.support"/>
    <context:component-scan base-package="com.thoughtworks.cruise.plugins"/>
    <context:component-scan base-package="com.thoughtworks.cruise.config.registry"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.search"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.messaging"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.util"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.scheduling"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.cronjob"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.materials"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.persistence"/>
    <context:component-scan base-package="com.thoughtworks.studios.shine"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.oauth"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.web"/>
    <context:component-scan base-package="com.thoughtworks.cruise.config"/>
    <context:component-scan base-package="com.thoughtworks.cruise.presentation"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.initializers"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.valuestreammap"/>
    <context:component-scan base-package="com.thoughtworks.cruise.metrics.service"/>
    <context:component-scan base-package="com.thoughtworks.go.plugin.access"/>

    <import resource="velocity-config.xml"/>
    <import resource="applicationContext-shine-server.xml"/>
    <import resource="applicationContext-remote-server.xml"/>
    <import resource="classpath:applicationContext-plugin-infra.xml"/>

    <!--enable Spring support for configuring Spring AOP based on @AspectJ aspects-->
    <aop:aspectj-autoproxy>
    </aop:aspectj-autoproxy>

    <!--OVERIDE THE SPRING ADAPTERS STARTS-->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <value>message</value>
                <value>localize</value>
            </list>
        </property>
        <property name="cacheSeconds">
            <value>-1</value>
        </property>
    </bean>

    <bean id="messageSouceAccessor" class="org.springframework.context.support.MessageSourceAccessor">
        <constructor-arg ref="messageSource"/>
    </bean>

    <bean id="currentLocale" class="com.thoughtworks.cruise.i18n.CurrentLocale"/>

    <bean id="localizer" class="com.thoughtworks.cruise.i18n.Localizer">
        <constructor-arg index="0" ref="messageSouceAccessor"/>
        <constructor-arg index="1" ref="currentLocale"/>
    </bean>

    <bean class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
        <property name="supportedMethods">
            <list>
                <value>POST</value>
                <value>GET</value>
                <value>PUT</value>
                <value>HEAD</value>
            </list>
        </property>
    </bean>
    <bean class="org.springframework.web.servlet.mvc.HttpRequestHandlerAdapter"/>
    <bean class="org.springframework.web.servlet.handler.BeanNameUrlHandlerMapping"/>
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter"/>
    <bean class="com.thoughtworks.cruise.server.web.AnnotatedExceptionResolver"/>
    <!--END OVERIDE THE SPRING ADAPTERS-->

    <bean id="rubyRuntimeFinder" class="com.thoughtworks.cruise.server.web.RubyRuntimeFinder"/>

    <bean id="logParser" class="com.thoughtworks.cruise.legacywrapper.LogParser"/>

    <bean id="configRepositoryValidatorService" class="com.thoughtworks.cruise.config.validation.ConfigRepositoryValidatorService" autowire="autodetect" lazy-init="false" />

    <bean class="org.quartz.impl.StdSchedulerFactory" name="schedulerFactory"/>
    <bean class="com.thoughtworks.cruise.server.domain.PipelineTimeline" name="pipelineTimeline" lazy-init="true" autowire="autodetect"/>
    <bean class="com.thoughtworks.cruise.util.ZipUtil"/>
</beans>
