<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="httpClient" class="org.apache.commons.httpclient.HttpClient">
        <constructor-arg>
            <ref bean="httpConnectionManager"/>
        </constructor-arg>
    </bean>

    <bean id="httpConnectionManager" class="org.apache.commons.httpclient.MultiThreadedHttpConnectionManager" p:params-ref="httpConnectionParams"/>

    <bean id="httpConnectionParams" class="org.apache.commons.httpclient.params.HttpConnectionManagerParams" p:soTimeout="300000" p:connectionTimeout="300000"/>
</beans>
