<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd">

    <context:annotation-config/>
    <import resource="velocity-config.xml"/>
    <context:component-scan base-package="com.thoughtworks.cruise.util"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.controller"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.search"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.ui"/>
    <context:component-scan base-package="com.thoughtworks.cruise.server.web"/>
    <bean class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping"/>

    <bean id="interceptorInjector"
          class="com.thoughtworks.cruise.server.web.InterceptorInjector">
        <property name="interceptors">
            <list>
                <ref bean="licenseInterceptor"/>
                <ref bean="licenseExpiryInterceptor"/>
                <ref bean="licensedAgentInterceptor"/>
                <ref bean="authorizationInterceptor"/>
                <ref bean="tabInterceptor"/>
                <ref bean="myCruiseInterceptor"/>
                <ref bean="flashMessageInterceptor"/>
            </list>
        </property>
    </bean>

    <aop:config>
        <aop:aspect ref="interceptorInjector">
            <aop:around
                    pointcut="execution(* org.springframework.web.servlet.HandlerMapping.getHandler(..))"
                    method="mergeInterceptorsToTabs"/>
        </aop:aspect>
    </aop:config>

    <!-- Interceptors -->
    <bean id="tabInterceptor" class="com.thoughtworks.cruise.server.web.TabInterceptor" autowire="autodetect"/>
    <bean id="flashMessageInterceptor" class="com.thoughtworks.cruise.server.web.FlashMessageInterceptor"/>

    <import resource="tabs/pipelines-tab.xml"/>
    <import resource="tabs/admin-tab.xml"/>
    <import resource="tabs/mycruise-tab.xml"/>

    <bean id="systemEnvironment" class="com.thoughtworks.cruise.util.SystemEnvironment"/>
</beans>
