<div id="tab-content-of-pipelines-configuration" class="wizard" $about_extra_attrs>
    <script type="text/javascript">
        var json = ${config_content};
    </script>
    <script type="text/javascript">
        var cw = new ConfigurationWizard("${md5}");
        Event.observe(window, 'load', function(){
            $('pipelines-configuration').innerHTML = $('pipelines-configuration-template').value.process({groups:json});
            cw.chooseCurrent();
        });
    </script>
    #parse('admin/_add_build_plan_form.vm')
    <h1><strong>Pipelines</strong></h1>
    <a class="link_as_button" id="add-new-pipeline-button" title="Add new pipeline" href="$req.getContextPath()/tab/admin/pipeline"><span>ADD NEW PIPELINE</span></a>
    <div class="clear"></div>
    #parse('admin/_configuration_wizard_jstemplate.vm')
    <div id="pipelines-configuration" class="wizard-content">
        <img src="../images/spinner.gif" alt="loading..." />    
    </div>
</div>