/* progress-bars.css - start */

/* progress-bars.css - end */
/* button-groups.css - start */
.buttons-group {
  padding: 10px 0;
  height: 25px;
  clear: both; }

.buttons-group a.link, .buttons-group input[type='submit'].link {
  background: transparent; }

.buttons-group a {
  margin-left: 5px; }

/* button-groups.css - end */
/* docked-toolbar.css - start */

/* docked-toolbar.css - end */
/* tooltip.css - start */

/* tooltip.css - end */
/* scaffolding.css - start */

/* scaffolding.css - end */
/* forms.css - start */
/* Form styles */
.andare .spinner {
  background: url(../../images/andare/ico-16x16-spinner.gif) no-repeat scroll center center transparent;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 0 50px 50px;
  text-indent: -6000px; }
.andare h2 {
  padding: 0px 5px 5px;
  font-size: 18px; }
  .andare h2 .help {
    float: right;
    font-size: 11px; }
.andare .summary, .andare form, .andare .form {
  background: #f6f6f6;
  border-radius: 4px;
  padding-bottom: 5px;
  padding-top: 5px; }
  .andare .summary fieldset, .andare form fieldset, .andare .form fieldset {
    margin: 10px 10px 35px;
    padding: 0px 15px;
    background: none;
    border: none;
    box-shadow: none; }
    .andare .summary fieldset legend, .andare form fieldset legend, .andare .form fieldset legend {
      border-top: 3px solid #e9e9e9;
      display: block;
      width: 100%; }
      .andare .summary fieldset legend span, .andare form fieldset legend span, .andare .form fieldset legend span {
        display: inline-block;
        background: #f6f6f6;
        position: relative;
        top: -12px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 25px;
        margin-left: 20px;
        color: #333333;
        font-size: 13px; }
    .andare .summary fieldset > ul, .andare form fieldset > ul, .andare .form fieldset > ul {
      width: 100%; }
    .andare .summary fieldset .field, .andare form fieldset .field, .andare .form fieldset .field {
      overflow: hidden;
      clear: both;
      padding-bottom: 3px;
      padding-top: 3px;
      display: block;
      float: none; }
      .andare .summary fieldset .field:first-child, .andare form fieldset .field:first-child, .andare .form fieldset .field:first-child {
        border-top: none; }
      .andare .summary fieldset .field:last-child, .andare form fieldset .field:last-child, .andare .form fieldset .field:last-child {
        border-bottom: none; }
      .andare .summary fieldset .field.no-label-element, .andare form fieldset .field.no-label-element, .andare .form fieldset .field.no-label-element {
        margin-left: 205px; }
      .andare .summary fieldset .field.required .asterisk, .andare form fieldset .field.required .asterisk, .andare .form fieldset .field.required .asterisk {
        color: #990000;
        font-size: 12px;
        padding-left: 3px; }
      .andare .summary fieldset .field label, .andare form fieldset .field label, .andare .form fieldset .field label {
        float: left;
        width: 200px;
        color: #888888;
        text-align: right;
        line-height: 16px;
        font-size: 12px;
        display: table-cell;
        margin-right: 10px;
        padding-top: 5px;
        margin-top: 5px; }
        .andare .summary fieldset .field label .hint, .andare form fieldset .field label .hint, .andare .form fieldset .field label .hint {
          display: block;
          clear: both;
          color: #9b9b9b;
          font-size: 11px;
          line-height: 13px;
          padding-top: 3px;
          padding-left: 10px;
          font-style: italic; }
        .andare .summary fieldset .field label.checkbox, .andare form fieldset .field label.checkbox, .andare .form fieldset .field label.checkbox {
          margin-left: 205px;
          text-align: left; }
      .andare .summary fieldset .field.focus, .andare form fieldset .field.focus, .andare .form fieldset .field.focus {
        background-color: #f9f9f9; }
        .andare .summary fieldset .field.focus label, .andare form fieldset .field.focus label, .andare .form fieldset .field.focus label {
          color: black; }
          .andare .summary fieldset .field.focus label .hint, .andare form fieldset .field.focus label .hint, .andare .form fieldset .field.focus label .hint {
            color: #666666; }
      .andare .summary fieldset .field input[type="text"], .andare .summary fieldset .field input[type="password"], .andare .summary fieldset .field input[type="datetime"], .andare .summary fieldset .field input[type="datetime-local"], .andare .summary fieldset .field input[type="date"], .andare .summary fieldset .field input[type="month"], .andare .summary fieldset .field input[type="time"], .andare .summary fieldset .field input[type="week"], .andare .summary fieldset .field input[type="number"], .andare .summary fieldset .field input[type="email"], .andare .summary fieldset .field input[type="url"], .andare .summary fieldset .field input[type="search"], .andare .summary fieldset .field input[type="tel"], .andare .summary fieldset .field input[type="color"], .andare form fieldset .field input[type="text"], .andare form fieldset .field input[type="password"], .andare form fieldset .field input[type="datetime"], .andare form fieldset .field input[type="datetime-local"], .andare form fieldset .field input[type="date"], .andare form fieldset .field input[type="month"], .andare form fieldset .field input[type="time"], .andare form fieldset .field input[type="week"], .andare form fieldset .field input[type="number"], .andare form fieldset .field input[type="email"], .andare form fieldset .field input[type="url"], .andare form fieldset .field input[type="search"], .andare form fieldset .field input[type="tel"], .andare form fieldset .field input[type="color"], .andare .form fieldset .field input[type="text"], .andare .form fieldset .field input[type="password"], .andare .form fieldset .field input[type="datetime"], .andare .form fieldset .field input[type="datetime-local"], .andare .form fieldset .field input[type="date"], .andare .form fieldset .field input[type="month"], .andare .form fieldset .field input[type="time"], .andare .form fieldset .field input[type="week"], .andare .form fieldset .field input[type="number"], .andare .form fieldset .field input[type="email"], .andare .form fieldset .field input[type="url"], .andare .form fieldset .field input[type="search"], .andare .form fieldset .field input[type="tel"], .andare .form fieldset .field input[type="color"] {
        width: 220px; }
      .andare .summary fieldset .field textarea, .andare .summary fieldset .field input[type="text"], .andare .summary fieldset .field input[type="password"], .andare .summary fieldset .field input[type="datetime"], .andare .summary fieldset .field input[type="datetime-local"], .andare .summary fieldset .field input[type="date"], .andare .summary fieldset .field input[type="month"], .andare .summary fieldset .field input[type="time"], .andare .summary fieldset .field input[type="week"], .andare .summary fieldset .field input[type="number"], .andare .summary fieldset .field input[type="email"], .andare .summary fieldset .field input[type="url"], .andare .summary fieldset .field input[type="search"], .andare .summary fieldset .field input[type="tel"], .andare .summary fieldset .field input[type="color"], .andare .summary fieldset .field select, .andare form fieldset .field textarea, .andare form fieldset .field input[type="text"], .andare form fieldset .field input[type="password"], .andare form fieldset .field input[type="datetime"], .andare form fieldset .field input[type="datetime-local"], .andare form fieldset .field input[type="date"], .andare form fieldset .field input[type="month"], .andare form fieldset .field input[type="time"], .andare form fieldset .field input[type="week"], .andare form fieldset .field input[type="number"], .andare form fieldset .field input[type="email"], .andare form fieldset .field input[type="url"], .andare form fieldset .field input[type="search"], .andare form fieldset .field input[type="tel"], .andare form fieldset .field input[type="color"], .andare form fieldset .field select, .andare .form fieldset .field textarea, .andare .form fieldset .field input[type="text"], .andare .form fieldset .field input[type="password"], .andare .form fieldset .field input[type="datetime"], .andare .form fieldset .field input[type="datetime-local"], .andare .form fieldset .field input[type="date"], .andare .form fieldset .field input[type="month"], .andare .form fieldset .field input[type="time"], .andare .form fieldset .field input[type="week"], .andare .form fieldset .field input[type="number"], .andare .form fieldset .field input[type="email"], .andare .form fieldset .field input[type="url"], .andare .form fieldset .field input[type="search"], .andare .form fieldset .field input[type="tel"], .andare .form fieldset .field input[type="color"], .andare .form fieldset .field select {
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        height: 30px;
        border: 1px solid #cccccc;
        border-radius: 3px;
        padding: 6px 8px;
        margin-top: 3px;
        font-size: 13px;
        font-family: Helvetica, Arial;
        background-color: #fefefe;
        color: #333333; }
        .andare .summary fieldset .field textarea.important, .andare .summary fieldset .field input[type="text"].important, .andare .summary fieldset .field input[type="password"].important, .andare .summary fieldset .field input[type="datetime"].important, .andare .summary fieldset .field input[type="datetime-local"].important, .andare .summary fieldset .field input[type="date"].important, .andare .summary fieldset .field input[type="month"].important, .andare .summary fieldset .field input[type="time"].important, .andare .summary fieldset .field input[type="week"].important, .andare .summary fieldset .field input[type="number"].important, .andare .summary fieldset .field input[type="email"].important, .andare .summary fieldset .field input[type="url"].important, .andare .summary fieldset .field input[type="search"].important, .andare .summary fieldset .field input[type="tel"].important, .andare .summary fieldset .field input[type="color"].important, .andare .summary fieldset .field select.important, .andare form fieldset .field textarea.important, .andare form fieldset .field input[type="text"].important, .andare form fieldset .field input[type="password"].important, .andare form fieldset .field input[type="datetime"].important, .andare form fieldset .field input[type="datetime-local"].important, .andare form fieldset .field input[type="date"].important, .andare form fieldset .field input[type="month"].important, .andare form fieldset .field input[type="time"].important, .andare form fieldset .field input[type="week"].important, .andare form fieldset .field input[type="number"].important, .andare form fieldset .field input[type="email"].important, .andare form fieldset .field input[type="url"].important, .andare form fieldset .field input[type="search"].important, .andare form fieldset .field input[type="tel"].important, .andare form fieldset .field input[type="color"].important, .andare form fieldset .field select.important, .andare .form fieldset .field textarea.important, .andare .form fieldset .field input[type="text"].important, .andare .form fieldset .field input[type="password"].important, .andare .form fieldset .field input[type="datetime"].important, .andare .form fieldset .field input[type="datetime-local"].important, .andare .form fieldset .field input[type="date"].important, .andare .form fieldset .field input[type="month"].important, .andare .form fieldset .field input[type="time"].important, .andare .form fieldset .field input[type="week"].important, .andare .form fieldset .field input[type="number"].important, .andare .form fieldset .field input[type="email"].important, .andare .form fieldset .field input[type="url"].important, .andare .form fieldset .field input[type="search"].important, .andare .form fieldset .field input[type="tel"].important, .andare .form fieldset .field input[type="color"].important, .andare .form fieldset .field select.important {
          font-weight: bold; }
        .andare .summary fieldset .field textarea:focus, .andare .summary fieldset .field input[type="text"]:focus, .andare .summary fieldset .field input[type="password"]:focus, .andare .summary fieldset .field input[type="datetime"]:focus, .andare .summary fieldset .field input[type="datetime-local"]:focus, .andare .summary fieldset .field input[type="date"]:focus, .andare .summary fieldset .field input[type="month"]:focus, .andare .summary fieldset .field input[type="time"]:focus, .andare .summary fieldset .field input[type="week"]:focus, .andare .summary fieldset .field input[type="number"]:focus, .andare .summary fieldset .field input[type="email"]:focus, .andare .summary fieldset .field input[type="url"]:focus, .andare .summary fieldset .field input[type="search"]:focus, .andare .summary fieldset .field input[type="tel"]:focus, .andare .summary fieldset .field input[type="color"]:focus, .andare .summary fieldset .field select:focus, .andare form fieldset .field textarea:focus, .andare form fieldset .field input[type="text"]:focus, .andare form fieldset .field input[type="password"]:focus, .andare form fieldset .field input[type="datetime"]:focus, .andare form fieldset .field input[type="datetime-local"]:focus, .andare form fieldset .field input[type="date"]:focus, .andare form fieldset .field input[type="month"]:focus, .andare form fieldset .field input[type="time"]:focus, .andare form fieldset .field input[type="week"]:focus, .andare form fieldset .field input[type="number"]:focus, .andare form fieldset .field input[type="email"]:focus, .andare form fieldset .field input[type="url"]:focus, .andare form fieldset .field input[type="search"]:focus, .andare form fieldset .field input[type="tel"]:focus, .andare form fieldset .field input[type="color"]:focus, .andare form fieldset .field select:focus, .andare .form fieldset .field textarea:focus, .andare .form fieldset .field input[type="text"]:focus, .andare .form fieldset .field input[type="password"]:focus, .andare .form fieldset .field input[type="datetime"]:focus, .andare .form fieldset .field input[type="datetime-local"]:focus, .andare .form fieldset .field input[type="date"]:focus, .andare .form fieldset .field input[type="month"]:focus, .andare .form fieldset .field input[type="time"]:focus, .andare .form fieldset .field input[type="week"]:focus, .andare .form fieldset .field input[type="number"]:focus, .andare .form fieldset .field input[type="email"]:focus, .andare .form fieldset .field input[type="url"]:focus, .andare .form fieldset .field input[type="search"]:focus, .andare .form fieldset .field input[type="tel"]:focus, .andare .form fieldset .field input[type="color"]:focus, .andare .form fieldset .field select:focus {
          webkit-box-shadow: 0px 0px 2px 2px rgba(102, 153, 180, 0.2);
          box-shadow: 0px 0px 2px 2px rgba(102, 153, 180, 0.2);
          color: #222222;
          border-color: #6699cc;
          background-color: white;
          transition: border linear 0.1s, box-shadow linear 0.1s, background linear 0.1s; }
      .andare .summary fieldset .field textarea[disabled], .andare .summary fieldset .field input[type="text"][disabled], .andare .summary fieldset .field input[type="password"][disabled], .andare .summary fieldset .field select[disabled], .andare form fieldset .field textarea[disabled], .andare form fieldset .field input[type="text"][disabled], .andare form fieldset .field input[type="password"][disabled], .andare form fieldset .field select[disabled], .andare .form fieldset .field textarea[disabled], .andare .form fieldset .field input[type="text"][disabled], .andare .form fieldset .field input[type="password"][disabled], .andare .form fieldset .field select[disabled] {
        background-color: #efefef;
        color: #666666; }
      .andare .summary fieldset .field select, .andare form fieldset .field select, .andare .form fieldset .field select {
        padding: 5px 4px;
        width: 220px; }
      @media screen and (-webkit-min-device-pixel-ratio: 0) {
        .andare .summary fieldset .field select, .andare form fieldset .field select, .andare .form fieldset .field select {
          background-image: url("../../images/andare/ico-20x16-webkit-select.png");
          background-repeat: no-repeat;
          background-position: right center; } }
      .andare .summary fieldset .field.error textarea, .andare .summary fieldset .field.error input[type="text"], .andare .summary fieldset .field.error input[type="password"], .andare .summary fieldset .field.error input[type="datetime"], .andare .summary fieldset .field.error input[type="datetime-local"], .andare .summary fieldset .field.error input[type="date"], .andare .summary fieldset .field.error input[type="month"], .andare .summary fieldset .field.error input[type="time"], .andare .summary fieldset .field.error input[type="week"], .andare .summary fieldset .field.error input[type="number"], .andare .summary fieldset .field.error input[type="email"], .andare .summary fieldset .field.error input[type="url"], .andare .summary fieldset .field.error input[type="search"], .andare .summary fieldset .field.error input[type="tel"], .andare .summary fieldset .field.error input[type="color"], .andare .summary fieldset .field.error select, .andare form fieldset .field.error textarea, .andare form fieldset .field.error input[type="text"], .andare form fieldset .field.error input[type="password"], .andare form fieldset .field.error input[type="datetime"], .andare form fieldset .field.error input[type="datetime-local"], .andare form fieldset .field.error input[type="date"], .andare form fieldset .field.error input[type="month"], .andare form fieldset .field.error input[type="time"], .andare form fieldset .field.error input[type="week"], .andare form fieldset .field.error input[type="number"], .andare form fieldset .field.error input[type="email"], .andare form fieldset .field.error input[type="url"], .andare form fieldset .field.error input[type="search"], .andare form fieldset .field.error input[type="tel"], .andare form fieldset .field.error input[type="color"], .andare form fieldset .field.error select, .andare .form fieldset .field.error textarea, .andare .form fieldset .field.error input[type="text"], .andare .form fieldset .field.error input[type="password"], .andare .form fieldset .field.error input[type="datetime"], .andare .form fieldset .field.error input[type="datetime-local"], .andare .form fieldset .field.error input[type="date"], .andare .form fieldset .field.error input[type="month"], .andare .form fieldset .field.error input[type="time"], .andare .form fieldset .field.error input[type="week"], .andare .form fieldset .field.error input[type="number"], .andare .form fieldset .field.error input[type="email"], .andare .form fieldset .field.error input[type="url"], .andare .form fieldset .field.error input[type="search"], .andare .form fieldset .field.error input[type="tel"], .andare .form fieldset .field.error input[type="color"], .andare .form fieldset .field.error select {
        border: 1px #dda3a3 solid;
        background-color: #fef4f4; }
      .andare .summary fieldset .field.error span.error, .andare form fieldset .field.error span.error, .andare .form fieldset .field.error span.error {
        color: #a74242;
        padding: 4px 8px; }
.andare p.required {
  line-height: 30px;
  padding: 0px 15px; }
.andare .summary fieldset {
  padding: 3px;
  margin: 0px; }
  .andare .summary fieldset .field {
    border-bottom: #dddddd solid 1px;
    border-top: white solid 1px; }
    .andare .summary fieldset .field label {
      width: 175px;
      line-height: 12px;
      font-size: 12px; }
      .andare .summary fieldset .field label .hint {
        display: none; }
    .andare .summary fieldset .field span.input {
      font-size: 12px;
      display: inline-block;
      line-height: 25px;
      margin-top: 2px; }

/* forms.css - end */
/* popovers.css - start */

/* popovers.css - end */
/* modals.css - start */

/* modals.css - end */
/* layouts.css - start */
/* CSS 3 Mixins */
.hidden {
  display: none; }

.layout.admin-entity .navigation, .layout.admin-entity nav {
  width: 250px;
  float: left;
  overflow-y: auto;
  padding: 5px; }
  .layout.admin-entity .navigation > *:last-child, .layout.admin-entity nav > *:last-child {
    margin-bottom: 20px; }
  .layout.admin-entity .navigation form, .layout.admin-entity nav form {
    background: transparent;
    padding: 4px;
    float: right;
    display: inline; }
  .layout.admin-entity .navigation form button.remove, .layout.admin-entity nav form button.remove {
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: alpha(opacity=75);
    -khtml-opacity: 0.75;
    -moz-opacity: 0.75;
    background: url(../../images/andare/icon-mix.png) no-repeat -5px -127px;
    height: 16px;
    width: 16px; }
    .layout.admin-entity .navigation form button.remove:hover, .layout.admin-entity nav form button.remove:hover {
      opacity: 1;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      -khtml-opacity: 1;
      -moz-opacity: 1; }
    .layout.admin-entity .navigation form button.remove[disabled], .layout.admin-entity nav form button.remove[disabled] {
      opacity: 0.25;
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=25)";
      filter: alpha(opacity=25);
      -khtml-opacity: 0.25;
      -moz-opacity: 0.25;
      cursor: default; }
  .layout.admin-entity .navigation h2, .layout.admin-entity nav h2 {
    font-size: 14px;
    line-height: 16px;
    padding: 4px; }
  .layout.admin-entity .navigation .packages li, .layout.admin-entity nav .packages li {
    margin-bottom: 4px; }
    .layout.admin-entity .navigation .packages li .entity, .layout.admin-entity nav .packages li .entity {
      margin-left: 18px; }
    .layout.admin-entity .navigation .packages li a, .layout.admin-entity nav .packages li a {
      width: 175px;
      display: inline-block; }
.layout.admin-entity .content {
  padding: 5px 5px 5px 10px;
  margin-left: 260px; }
  .layout.admin-entity .content .entity_title {
    font-size: 12px;
    padding: 5px;
    font-weight: normal;
    border-bottom: 1px dotted #999999;
    margin-bottom: 5px; }
    .layout.admin-entity .content .entity_title ul {
      display: block;
      line-height: 15px;
      float: none; }
      .layout.admin-entity .content .entity_title ul li {
        display: inline-block;
        float: none;
        background: url("../../images/g9/backgrounds/icon_breadcrumb_arrow.png") no-repeat scroll right 5px transparent;
        margin-right: 3px;
        padding-right: 12px;
        max-width: 175px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .layout.admin-entity .content .entity_title ul li:last-child {
        background-image: none; }
  .layout.admin-entity .content .list_table {
    margin-top: 5px; }
.layout.admin-entity.view .navigation, .layout.admin-entity.view nav {
  width: 200px; }
.layout.admin-entity.view .content {
  width: 525px;
  margin-left: 210px; }
.layout.admin-entity.view .treenav {
  overflow-x: hidden; }
  .layout.admin-entity.view .treenav li {
    overflow-x: hidden;
    text-overflow: ellipsis; }

/*treeview fix for the template view */
#MB_content .navigation .treenav li.selected > a {
  background-color: #d2ebf0; }
#MB_content .navigation .treenav li:hover > a {
  background-color: #eeeeee; }
#MB_content .navigation .treenav li a {
  border-radius: 3px;
  margin-left: 25px; }

/* layouts.css - end */
/* tabs.css - start */
.nav.nav-tabs {
  background: #999999;
  border-bottom: #cccccc 1px solid;
  border-radius: 6px 6px 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-radius: 6px 6px 0 0;
  width: 100%;
  padding-left: 2px;
  margin-top: 5px; }
  .nav.nav-tabs li {
    background-color: #333333;
    border-color: #333333;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    margin: 5px 0 0 5px; }
    .nav.nav-tabs li a {
      color: white;
      padding: 7px 12px;
      display: block; }
    .nav.nav-tabs li.active {
      background: white;
      border-color: white;
      border-style: solid;
      border-width: 1px;
      margin-bottom: -1px; }
      .nav.nav-tabs li.active a {
        color: #333333; }

.tab-content {
  clear: both;
  padding: 1px 0; }
  .tab-content .tab-pane {
    display: none; }
    .tab-content .tab-pane.active {
      display: block; }

/* tabs.css - end */
/* breadcrumb.css - start */
/* CSS 3 Mixins */
.page_header, .pipeline_history,
.yui-b .Job,
.yui-b .Server,
#admin-page .Administration,
#my-cruise-page .Preferences {
  background: #f7f7f7;
  /*@include box-shadow(0,1px,1px,rgba(33, 33, 33, 0.1));*/
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#eeeeee));
  background: -moz-linear-gradient(top, #f7f7f7, #eeeeee);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#eeeeee') */
  -webkit-box-shadow: 0 0 2px #cccccc;
  -moz-box-shadow: 0 0 2px #cccccc;
  box-shadow: 0 0 2px #cccccc;
  border-bottom: 1px solid #cccccc;
  position: fixed;
  height: 25px;
  top: 45px;
  z-index: 1000;
  right: 0;
  left: 0;
  padding: 10px 15px; }
  .ie9 .page_header, .ie9 .pipeline_history, .ie9
  .yui-b .Job, .ie9
  .yui-b .Server, .ie9
  #admin-page .Administration, .ie9
  #my-cruise-page .Preferences {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=99)'; }
  .ie8 .page_header, .ie8 .pipeline_history, .ie8
  .yui-b .Job, .ie8
  .yui-b .Server, .ie8
  #admin-page .Administration, .ie8
  #my-cruise-page .Preferences {
    border-bottom: 1px solid #dddddd; }
  .ie7 .page_header, .ie7 .pipeline_history, .ie7
  .yui-b .Job, .ie7
  .yui-b .Server, .ie7
  #admin-page .Administration, .ie7
  #my-cruise-page .Preferences {
    border-bottom: 1px solid #dddddd; }

.shadow {
  -webkit-box-shadow: 0 3px 3px rgba(33, 33, 33, 0.2);
  -moz-box-shadow: 0 3px 3px rgba(33, 33, 33, 0.2);
  box-shadow: 0 3px 3px rgba(33, 33, 33, 0.2);
  border-bottom: 0 none; }
  .ie8 .shadow {
    border-bottom: 1px solid #bbbbbb; }
  .ie7 .shadow {
    border-bottom: 1px solid #bbbbbb; }

.pipeline_history,
.yui-b .Job,
.yui-b .Server,
#admin-page .Administration,
#my-cruise-page .Preferences {
  padding: 10px 15px;
  overflow: hidden; }

ul.entity_title li a {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  line-height: 27px; }

ul.entity_title li {
  background: url("../../images/g9/backgrounds/icon_breadcrumb_arrow.png") no-repeat scroll right 10px transparent;
  padding-right: 12px;
  margin-right: 6px;
  line-height: 27px; }

ul.entity_title li.last {
  padding-right: 0;
  margin-right: 0;
  background: none; }

ul.entity_title li.last > *, h1.entity_title {
  color: #3d3d3d !important;
  font-size: 21px !important;
  font-weight: 400 !important;
  line-height: 1.2em; }

h1.entity_title {
  float: left; }

#yui-main .page_header a {
  font-weight: bold; }

#yui-main .page_header .label a {
  font-size: 20px; }

#yui-main .page_header a:hover {
  color: #2980ec; }

#pipeline_header .feed {
  background: url("../../images/icon-rss.png") no-repeat;
  height: 18px;
  margin-top: 3px;
  padding-right: 15px;
  float: right; }

.admin_pause_info_and_controls {
  /*color: #FFF;*/
  margin-left: 15px;
  margin-top: 3px; }

.admin_pause_info_and_controls .pause_description {
  font-size: 11px; }

#pause_info_and_controls > span {
  float: left;
  padding: 6px; }

.admin_pause_info_and_controls .operate {
  float: left; }

.pause_reason input[type=text] {
  display: block;
  margin-top: 10px;
  width: 250px; }

/*
 * Pipeline/Stage Details Header
 */
#body_content .locked_instance {
  float: right;
  margin: 8px 0 0 10px;
  padding: 0 0 0 0px;
  border-left: 1px dotted #999999;
  color: #ccc; }

#body_content .page_header .locked_instance {
  float: left;
  margin: 8px 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px dotted #999999;
  color: #ccc; }

#body_content .deploy .locked_instance,
#body_content .pipeline_operations .locked_instance {
  float: right;
  border: none;
  margin: 6px 0 0 10px;
  color: #555555; }

/* breadcrumb.css - end */
/* dropdowns.css - start */
.enhanced_dropdown {
  background-color: #FFF;
  border: 1px solid #cccccc;
  border-bottom-color: #999;
  border-right-color: #999;
  box-shadow: 4px 4px 10px #cccccc;
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 4px 4px 10px #cccccc;
  float: left;
  left: auto;
  overflow: visible;
  position: absolute;
  top: auto;
  z-index: 2; }

.enhanced_dropdown ul, .enhanced_dropdown {
  min-width: 120px;
  max-width: 185px; }

.enhanced_dropdown li {
  display: block;
  float: none; }
  .enhanced_dropdown li:hover {
    background-color: #FFEC80;
    cursor: pointer; }

.enhanced_dropdown li a {
  color: #000;
  display: block;
  padding: 5px; }

/**
 * ==INTERACTIONS
 */
.enhanced_dropdown {
  overflow: hidden;
  max-height: 30em; }

.enhanced_dropdown .scrollable_panel {
  max-height: 17em;
  overflow-x: hidden;
  overflow-y: auto; }

* + html .enhanced_dropdown .scrollable_panel {
  height: expression(this.scrollHeight >  204 ? "17em" : "auto"); }

.enhanced_dropdown .scrollable_panel .selector_pipeline {
  padding: 1em; }

.enhanced_dropdown .scrollable_panel .selectors {
  padding: .5em; }

.enhanced_dropdown .edit_panel {
  border-bottom: 2px solid black;
  max-height: 16em;
  overflow-y: auto;
  padding: .5em; }

.enhanced_dropdown .add_panel {
  background: #eeeee9 url(../../images/g9/backgrounds/overlay_modal_action_row.png) repeat-x;
  border-top: 1px solid #cccccc;
  bottom: 0;
  margin: 0;
  padding: 10px 0;
  text-align: left;
  width: 100%; }

.enhanced_dropdown .add_panel button.primary {
  margin-left: 10px;
  width: 100px; }

* + html .enhanced_dropdown .add_panel .new_field {
  margin-left: 4px; }

.enhanced_dropdown a.lookup_icon {
  background: url("../../images/g9/icon_search.png") transparent no-repeat right; }

/**
 * ==MESSAGING
 */
.enhanced_dropdown .loading {
  background: url(../../images/spinner.gif) 50% 50% no-repeat transparent;
  padding: 1em; }

.enhanced_dropdown .error {
  padding: 10px 10px 10px 25px; }

/**
 * =SMARTFILL
**/
.smartfill_content {
  background-color: #FFF; }

.smartfill_content li {
  background-color: #FFF;
  cursor: pointer;
  display: block;
  padding: .25em; }

.smartfill_content li.selected {
  background-color: #FF9; }

/**
 * =!NEEDS MIGRATING
 */
.pipeline_group .pipeline .actions .enhanced_dropdown {
  max-width: 80%;
  overflow-x: hidden;
  overflow-y: auto; }

/* dropdowns.css - end */
/* layout.css - start */
/*
 * layout
 */
body {
  background-color: #333;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px; }

#body_content {
  padding-top: 91px;
  background-color: #ffffff; }

#environments h2.entity_title, #pipelines h2.entity_title {
  border: 0 none;
  margin-bottom: 0; }
#environments .content_wrapper_inner, #pipelines .content_wrapper_inner {
  border-bottom: 1px dotted #888888;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 5px;
  /* compensate for bottom margin of pipeline */
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0; }
#environments #body_content, #pipelines #body_content {
  background-color: #eeeeee; }

.content_wrapper_inner {
  border: 0;
  padding: 15px; }

/*
 * Footer
 */
/*todo: refactoring of below classes*/
#footer {
  background-color: transparent;
  text-align: right;
  color: #bbbbbb !important;
  margin: 0 15px;
  padding: 10px 0 35px 0;
  border-top: 1px solid #333333; }
  #footer a {
    color: #fff; }
  #footer ul li {
    display: inline;
    padding: 0 0.5em;
    color: #bbbbbb !important;
    border-right: 1px dotted #cccccc; }
  #footer ul li.last {
    border: 0 none !important; }
  #footer ul li, #footer ul li a, #footer ul li span {
    font-size: 11px !important; }
  #footer .copyright {
    float: left; }
  #footer ul.links {
    float: right; }
  #footer #copyright {
    font-size: 0.9em;
    clear: both;
    color: #1f2314;
    width: 20em;
    padding-left: 2em;
    float: left; }
    #footer #copyright a, #footer #copyright a:visited {
      color: #1f2314; }

.form_submit_errors .errors {
  background: url(../../images/g9/icons/icon_error_16.png) no-repeat scroll 0 0 #f8d1d8;
  font-size: 12px;
  border-radius: 3px;
  overflow: auto;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-position: 10px 9px !important;
  background-repeat: no-repeat;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #333333;
  margin: 10px 0px 10px 0px;
  padding: 10px 10px 10px 36px; }

.form_submit_errors .errors h3 {
  font-size: 12px;
  font-weight: bold; }

.errors ul {
  margin-left: 15px; }

.errors ul li {
  float: none;
  list-style: disc; }

/* layout.css - end */
/* reset.css - start */

/* reset.css - end */
/* typography.css - start */
pre, code, .code {
  font-family: consolas, monaco, courier !important;
  color: #333;
  line-height: 20px;
  font-size: 13px; }

/* typography.css - end */
/* responsive.css - start */

/* responsive.css - end */
/* sprites.css - start */

/* sprites.css - end */
/* mixins.css - start */
/* CSS 3 Mixins */

/* mixins.css - end */
/* reset-g9.css - start */
.andare textarea, .andare input[type="text"], .andare input[type="password"], .andare input[type="datetime"], .andare input[type="datetime-local"], .andare input[type="date"], .andare input[type="month"], .andare input[type="time"], .andare input[type="week"], .andare input[type="number"], .andare input[type="email"], .andare input[type="url"], .andare input[type="search"], .andare input[type="tel"], .andare input[type="color"] {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  width: auto; }
.andare .fieldset, .andare fieldset {
  clear: none;
  padding: 0px; }
.andare .form_buttons {
  margin: 0px; }

/* reset-g9.css - end */
/* variables.css - start */

/* variables.css - end */
/* history-panel.css - start */

/* history-panel.css - end */
/* admin.css - start */
/*congig xml*/
.new_form_content p.required {
  margin-top: 30px; }
.new_form_content .new_form_item {
  margin-top: 10px; }
  .new_form_content .new_form_item .error_message {
    word-break: break-all; }
  .new_form_content .new_form_item #check_package {
    margin-left: 0; }
  .new_form_content .new_form_item .fieldWithErrors input, .new_form_content .new_form_item.fieldWithErrors input {
    float: none; }
    .new_form_content .new_form_item .fieldWithErrors input:focus, .new_form_content .new_form_item.fieldWithErrors input:focus {
      float: none; }
  .new_form_content .new_form_item.fieldWithErrors select {
    float: none; }
  .new_form_content .new_form_item .form_error {
    display: inline-block;
    float: none;
    padding: 0;
    margin: 7px;
    margin-bottom: 10px; }

.vtop input, .vtop select {
  vertical-align: top; }

.new_form_control {
  display: table-cell; }

.new_form_label {
  display: table-cell;
  text-align: right;
  padding-right: 10px;
  width: 300px; }

#MB_content .new_form_label {
  width: 170px; }

.new-admin-title {
  padding-bottom: 10px;
  margin-bottom: 20px;
  font-size: 18px;
  border-bottom: 1px solid #cccccc; }
  .new-admin-title .help {
    float: right;
    font-size: 0.6em;
    margin-top: 3px; }

.new-admin-subtitle {
  border-bottom: 2px solid #cccccc;
  margin-top: 30px;
  margin-bottom: 20px; }
  .new-admin-subtitle span {
    padding: 3px;
    background-color: #f6f6f6;
    font-size: 0.7em;
    display: inline-block;
    position: relative;
    margin-top: 0px;
    margin-left: 20px;
    top: 10px; }

.admin_holder {
  background: none repeat scroll 0 0 #eeeeee;
  border-radius: 5px 5px 5px 5px;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid #cccccc; }

#content_area pre {
  background: none repeat scroll 0 0 white;
  padding: 10px;
  white-space: pre-wrap;
  border: 1px solid #cccccc; }

#content_area .conflicted_content textarea {
  float: right;
  margin-top: 21px;
  width: 40%; }

.heading h2 {
  display: inline; }
.heading .label {
  color: #999; }
.heading span {
  float: right;
  font-size: 1.1em;
  margin-top: 2px;
  white-space: nowrap; }

#admin-holder-for-admin-config-source-xml pre, #content_area textarea {
  height: 600px;
  padding: 10px;
  margin-bottom: 15px;
  overflow: auto; }

#admin-holder-for-admin-config-source-xml pre {
  border: 1px solid #cccccc;
  margin-top: 5px; }

#content_area textarea {
  height: 620px;
  background-color: #fffacd; }

#admin-holder-for-admin-config-source-xml .conflicted_content h3 {
  margin-top: 10px; }

#admin-holder-for-admin-config-source-xml .buttons-group > * {
  min-width: 100px; }

/*start : added this class because ellipses*/
#admin-holder-for-admin-config-source-xml .buttons-group #cancel_edit, #admin-holder-for-admin-config-source-xml .buttons-group #save_config {
  position: absolute;
  margin-top: -20px; }
#admin-holder-for-admin-config-source-xml .buttons-group #cancel_edit {
  margin-right: 24px;
  right: 0; }
#admin-holder-for-admin-config-source-xml .buttons-group #save_config {
  right: 150px; }
#admin-holder-for-admin-config-source-xml .buttons-group #edit_config {
  margin-top: -18px;
  position: absolute;
  right: 21px; }

/*end : added this class because ellipses*/
.config_change_timestamp {
  color: #999999;
  font-size: 1.1em;
  margin-right: 250px;
  overflow: hidden;
  padding-top: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 16px; }

#config_editor_form #content_area {
  clear: both; }

.conflicted_content + .current_content #content_area, .conflicted_content + .current_content .buttons-group {
  clear: none !important;
  width: 48%;
  padding: 10px 1% 0;
  background-color: #eee;
  float: right; }

.conflicted_content + .current_content .buttons-group #cancel_edit, .conflicted_content + .current_content .buttons-group #save_config {
  margin-top: -17px !important; }
.conflicted_content + .current_content .buttons-group #cancel_edit {
  margin-right: 33px !important; }
.conflicted_content + .current_content .buttons-group #save_config {
  right: 158px !important; }

.conflicted_content {
  width: 49%;
  float: left; }
  .conflicted_content pre {
    white-space: pre-wrap;
    margin-top: 21px !important; }

select#select_template {
  float: left; }

/*plugins*/
.plugins {
  float: none;
  margin-top: 20px;
  line-height: 1.3em;
  overflow: auto; }
  .plugins .plugin {
    padding: 10px;
    float: none;
    border-top: 1px solid #cccccc; }
    .plugins .plugin.disabled {
      background: #f1f1f1; }
      .plugins .plugin.disabled span {
        color: #999; }
      .plugins .plugin.disabled img {
        opacity: 0.5; }
    .plugins .plugin .show-info {
      margin-top: 5px;
      display: block; }
    .plugins .plugin .plugin-logo {
      display: inline-block;
      height: 60px;
      width: 60px;
      float: left;
      background-color: white; }
    .plugins .plugin .more-info-detail {
      float: none;
      display: block;
      overflow: auto;
      margin-top: 5px; }
      .plugins .plugin .more-info-detail li {
        float: none;
        line-height: 18px; }
        .plugins .plugin .more-info-detail li .key {
          width: 150px;
          display: inline-block; }
    .plugins .plugin .key {
      color: #bbb;
      font-weight: bold;
      margin-right: 1ex; }
    .plugins .plugin .plugin-details {
      font-size: 14pt; }
    .plugins .plugin .plugin-messages {
      margin-top: 5px; }
      .plugins .plugin .plugin-messages span {
        font-weight: bold; }
      .plugins .plugin .plugin-messages ul {
        float: none;
        margin-left: 15px; }
      .plugins .plugin .plugin-messages li {
        list-style: circle;
        margin-top: 5px;
        float: none; }
  .plugins .description {
    margin-top: 5px; }
  .plugins .plugin-author {
    float: right; }
  .plugins .version {
    color: #999; }
  .plugins .smaller {
    font-size: 0.6em; }

.plugin-data {
  margin-left: 70px; }

/* admin.css - end */
/* agent.css - start */
/*start : to remove search icon from the agent filter search*/
.filter_agents .ac_loading {
  background: none white; }

/*ends : to remove search icon from the agent filter search*/

/* agent.css - end */
/* pipeline.css - start */
/* CSS 3 Mixins */
.icon16 {
  height: 16px;
  width: 16px;
  display: inline-block;
  background: url("/go/images/andare/ico-16x16.png") no-repeat 0 0; }
  .icon16.setting {
    background-position: 0 -211.5px;
    float: right;
    padding-right: 4px; }

.pipeline_bundle .pipeline {
  background: #FFF;
  width: 245px;
  float: left;
  padding: 15px;
  min-height: 190px;
  overflow: hidden;
  margin: 0 10px 10px 0;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #cccccc;
  -moz-box-shadow: 0 0 2px #cccccc;
  box-shadow: 0 0 2px #cccccc; }
  .pipeline_bundle .pipeline:hover {
    -webkit-box-shadow: 0 0 3px #bbbbbb;
    -moz-box-shadow: 0 0 3px #bbbbbb;
    box-shadow: 0 0 3px #bbbbbb;
    border-color: #bbbbbb; }
  .pipeline_bundle .pipeline .title {
    -ms-word-wrap: break-word;
    -ms-word-break: break-all;
    word-wrap: break-word;
    word-break: break-all; }
    .pipeline_bundle .pipeline .title .setting {
      float: right; }

.icon-pipeline.clear {
  background: url("/go/images/andare/nav-sprites-pipeline.png") no-repeat 1px 1px;
  height: 14px;
  width: 14px;
  position: absolute;
  right: 15px;
  padding: 2px;
  top: 5px;
  opacity: 0.4;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
  filter: alpha(opacity=40);
  -khtml-opacity: 0.4;
  -moz-opacity: 0.4;
  width: 14px; }
.icon-pipeline:hover {
  opacity: 0.7;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -khtml-opacity: 0.7;
  -moz-opacity: 0.7; }

/* Pipeline Selector*/
#pipelines .pipelines_selector {
  float: right;
  margin-left: 15px;
  width: 380px; }
  #pipelines .pipelines_selector .enhanced_dropdown {
    max-width: 45em;
    width: 35em;
    z-index: 1001;
    max-height: 55em; }
  #pipelines .pipelines_selector .search-with-clear {
    float: left;
    position: relative; }
    #pipelines .pipelines_selector .search-with-clear #pipeline-search {
      margin-right: 10px; }

#pipelines .pipelines_selector .enhanced_dropdown .select_all_none_panel {
  background: #999999 url(../../images/g9/backgrounds/bg_glass_gradient.png) repeat-x center center;
  border-bottom: 1px solid #cccccc;
  padding: 5px;
  overflow: hidden; }

#pipelines .pipelines_selector .enhanced_dropdown .select_all_none_panel #select_text {
  float: left;
  padding: 5px 5px 5px 0;
  color: #fff;
  font-weight: bold; }

#pipelines .pipelines_selector .enhanced_dropdown .scrollable_panel {
  width: auto;
  max-width: none;
  border-top: 0;
  padding: 10px; }

#pipelines .pipelines_selector .enhanced_dropdown .selector_group .label {
  font-weight: bold;
  font-size: 12px;
  padding: 5px;
  color: #333; }

#add_new_environment .pipelines .selector_pipeline .label,
#pipelines .pipelines_selector .enhanced_dropdown .selector_pipeline .label {
  font-weight: normal;
  font-size: 1em; }

#pipelines .pipelines_selector .enhanced_dropdown .selector_pipeline {
  padding: 5px 5px 5px 20px; }

#pipelines .pipelines_selector .enhanced_dropdown .selector_group {
  border-bottom: 1px dotted #cccccc;
  padding: 10px 0 0 5px; }

.pipeline_bundle div.pipeline {
  background: #fff;
  float: left; }

.highlight {
  background: #FF2; }

/*start : remove this block once we implement new form style*/
#material_forms .new_form_label {
  display: block;
  text-align: left; }
#material_forms .inline_instruction {
  margin: 7px 0px 7px 0px; }
#material_forms .new_form_item {
  margin-top: 20px; }
#material_forms .new-admin-subtitle {
  margin-top: 15px; }
#material_forms .new-admin-subtitle span {
  background: #EEEEEE; }
#material_forms .new_form_control > select, #material_forms .new_form_control > input {
  float: left; }

/*end : remove this block once we implement new form style*/

/* pipeline.css - end */
/* vsm.css - start */

/* vsm.css - end */
/* templates.css - start */
#templates.view {
  height: 400px;
  overflow: hidden; }
  #templates.view .navigation, #templates.view .content {
    height: 390px; }
  #templates.view .navigation {
    overflow: hidden; }
    #templates.view .navigation:hover {
      overflow-y: auto; }
  #templates.view .content {
    overflow-y: auto; }
    #templates.view .content .section {
      clear: both;
      padding: 5px 0 0; }
  #templates.view h2, #templates.view h3 {
    font-weight: normal; }
  #templates.view h3 {
    font-size: 12px; }
  #templates.view .summary {
    margin-bottom: 3px; }
    #templates.view .summary .hint {
      height: 14px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden; }
#templates .tasks_view_list {
  clear: both;
  float: none; }
  #templates .tasks_view_list > li {
    margin-top: 5px; }
    #templates .tasks_view_list > li:hover {
      background-color: #fefefe; }
  #templates .tasks_view_list li {
    padding: 4px;
    border-bottom: 1px dotted #999999;
    float: none;
    clear: both; }
    #templates .tasks_view_list li .condition {
      background: #f6f6f6;
      padding: 3px;
      border-radius: 3px;
      float: right;
      color: #999999; }
    #templates .tasks_view_list li ul {
      background: url("../../images/andare/component-treenav.png") no-repeat scroll 0 -70px transparent;
      float: none;
      clear: both;
      padding-left: 15px; }
      #templates .tasks_view_list li ul li {
        border-bottom: none; }
  #templates .tasks_view_list code {
    clear: both;
    color: #999999; }
    #templates .tasks_view_list code .command, #templates .tasks_view_list code .arguments, #templates .tasks_view_list code .pipeline, #templates .tasks_view_list code .stage, #templates .tasks_view_list code .job, #templates .tasks_view_list code .source, #templates .tasks_view_list code .destination {
      color: #666666;
      font-weight: bold; }

/* templates.css - end */
/* wizard.css - start */
.andare .wizard .navigation li {
  background: none repeat scroll 0 0 white;
  border: 1px solid #dddddd;
  display: inline-block;
  height: 90px;
  cursor: pointer;
  margin-right: 4px;
  padding: 10px;
  top: 1px;
  width: 242px; }
  .andare .wizard .navigation li:last-child {
    margin-right: 0; }
  .andare .wizard .navigation li.current {
    background: #f9f9f9; }
.andare .wizard .steps .content {
  background: none repeat scroll 0 0 #f9f9f9;
  border: 1px solid #dddddd;
  clear: both;
  height: 350px;
  margin-top: -1px; }
.andare .wizard .steps > div {
  display: none; }
  .andare .wizard .steps > div.current {
    display: block; }
.andare .wizard .footer {
  padding: 20px; }
  .andare .wizard .footer .next {
    float: right; }

#getting-started {
  background: white;
  margin: 30px auto 0;
  min-height: 500px;
  padding: 5px;
  position: relative;
  width: 800px; }

/* wizard.css - end */
/* navbar.css - start */
/* CSS 3 Mixins */
.header #application_logo {
  background-image: url(../../images/g9/logo_go.png);
  background-repeat: no-repeat;
  background-position: 0px 4px;
  float: left;
  height: 35px;
  width: 114px; }

.application_nav .icon {
  background: url(/go/images/andare/nav-sprites.png) no-repeat; }
.application_nav a, .application_nav .user li {
  color: #999; }
.application_nav .current a {
  color: #AAAAAA; }
.application_nav .tabs {
  margin-top: 5px; }
  .application_nav .tabs .current > a {
    background-color: #86569A;
    color: white;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); }
  .application_nav .tabs span {
    color: #666;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: block;
    font-size: 11px;
    font-weight: 200;
    line-height: 26px;
    padding: 0 15px; }
  .application_nav .tabs li.open > a {
    color: #FFF;
    background-color: #777;
    border: 0;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); }
  .application_nav .tabs li a {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    display: block;
    font-size: 11px;
    font-weight: 200;
    line-height: 26px;
    padding: 0 15px; }
    .application_nav .tabs li a:hover {
      color: #FFF;
      background-color: #777777 !important;
      border: 0;
      -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3); }
.application_nav .dropdown-arrow-icon {
  background: url("/go/images/andare/nav-user-triangle.png") no-repeat scroll right 10px transparent;
  padding-right: 20px !important; }
.application_nav .user {
  float: right;
  margin-right: -20px;
  margin-top: 5px; }
  .application_nav .user li {
    padding: 0px 10px;
    border-left: 1px solid #575757;
    margin-left: 0; }
    .application_nav .user li:first-child {
      border: 0; }
    .application_nav .user li.help {
      margin-right: 9px;
      margin-top: 9px; }
    .application_nav .user li.current_user:hover {
      background-color: #777;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset; }
      .application_nav .user li.current_user:hover a {
        color: white; }
    .application_nav .user li.current_user {
      position: relative;
      border-radius: 8px;
      background-position: -25px -12px;
      padding-left: 30px;
      padding-right: 0;
      margin-right: 5px;
      cursor: pointer; }
      .application_nav .user li.current_user.current_user:hover, .application_nav .user li.current_user.selected {
        background-color: #86569A;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
        background-position: -25px -84px; }
        .application_nav .user li.current_user.current_user:hover > .current_user_name, .application_nav .user li.current_user.selected > .current_user_name {
          background-position: right -21px; }
      .application_nav .user li.current_user .current_user_name {
        border-radius: 10px;
        display: block;
        font-size: 11px;
        font-weight: 200;
        line-height: 19px;
        padding: 4px;
        padding-right: 13px;
        color: #AAAAAA; }
      .application_nav .user li.current_user .enhanced_dropdown {
        background-color: #222222 !important;
        border: 1px solid #555555;
        border-radius: 4px 4px 4px 4px;
        -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
        -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
        overflow: visible;
        padding: 6px !important;
        position: absolute;
        text-transform: none;
        width: auto !important; }
        .application_nav .user li.current_user .enhanced_dropdown li {
          border-radius: 3px;
          padding: 0; }
          .application_nav .user li.current_user .enhanced_dropdown li a {
            display: block;
            padding: 7px;
            line-height: 1em; }
          .application_nav .user li.current_user .enhanced_dropdown li:hover {
            background-color: #777777; }
      .application_nav .user li.current_user li {
        border: 0 none !important;
        float: none;
        border-bottom: 1px solid #555555 !important; }
        .application_nav .user li.current_user li a {
          color: white; }
        .application_nav .user li.current_user li:last-child {
          border-bottom: 0 none !important; }
        .application_nav .user li.current_user li:hover a {
          color: black; }
.application_nav .cruise_messages {
  bottom: 0;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  position: fixed;
  right: 0;
  z-index: 9999; }
  .application_nav .cruise_messages a {
    background-color: #400;
    background-image: url("/go/images/g9/icons/icon_error_16.png");
    background-position: 6px 4px;
    background-repeat: no-repeat;
    border-left: 1px solid #880000;
    border-top: 1px solid #880000;
    color: #FFF;
    display: block;
    font-size: 11px;
    font-weight: 200;
    padding: 6px 10px 6px 30px; }
    .application_nav .cruise_messages a:hover {
      background-color: #600; }
.application_nav li {
  float: left;
  margin-left: 10px; }

.user a:hover {
  color: #ffffff; }

.current_user.selected a {
  color: white !important; }

/* dropdown nav starts*/
.dropdown-menu {
  position: absolute;
  width: 200px;
  top: 46px;
  display: none;
  padding: 5px;
  border-radius: 0 0 10px 10px;
  background: #222; }
  .dropdown-menu li {
    margin-left: 0 !important;
    float: none !important; }
    .dropdown-menu li a {
      border-radius: 5px !important;
      padding: 0 10px !important; }

.open .dropdown-menu {
  display: block; }

/* dropdown nav ends*/

/* navbar.css - end */
/* labels-badges.css - start */

/* labels-badges.css - end */
/* pagination.css - start */
.pagination {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #cccccc; }

.pagination .current_page {
  font-weight: bold; }

.pagination span,
.pagination a {
  margin-right: 4px; }

/* pagination.css - end */
/* treenav.css - start */
.andare .treenav {
  float: none; }
  .andare .treenav ul {
    clear: both;
    display: block;
    float: none;
    overflow: hidden; }
  .andare .treenav li {
    background: url(../../images/andare/component-treenav.png) no-repeat 3px -48px transparent;
    clear: both;
    margin-top: 3px;
    padding-top: 2px;
    display: block;
    float: none; }
    .andare .treenav li .entity {
      border-radius: 3px;
      margin-left: 25px;
      padding-left: 5px; }
      .andare .treenav li .entity form {
        display: none; }
      .andare .treenav li .entity:hover {
        background-color: #eeeeee; }
        .andare .treenav li .entity:hover form {
          display: block; }
    .andare .treenav li a {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #333333; }
      .andare .treenav li a span {
        padding: 0px 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        line-height: 24px;
        display: block; }
    .andare .treenav li.empty-node {
      background: none;
      margin: 0px 15px 5px 15px;
      padding: 10px 0px 5px 0px; }
      .andare .treenav li.empty-node:hover span {
        background: none; }
      .andare .treenav li.empty-node a {
        margin-left: 0px; }
        .andare .treenav li.empty-node a.add span {
          padding-left: 20px; }
    .andare .treenav li.last {
      background-position: 3px -72px; }
    .andare .treenav li.selected > div > form, .andare .treenav li.grey_selected > div > form {
      display: inline-block !important; }
    .andare .treenav li.selected > div, .andare .treenav li.grey_selected > div {
      background-color: #d2ebf0; }
    .andare .treenav li.grey_selected > div {
      background-color: #eeeeee; }
    .andare .treenav li ul {
      background: white;
      padding-left: 25px; }
      .andare .treenav li ul li.empty-node {
        color: #cccccc; }
    .andare .treenav li.has-children {
      background-position: 5px -19px; }
      .andare .treenav li.has-children.collapsed {
        background-position: 5px 3px; }
        .andare .treenav li.has-children.collapsed > ul {
          display: none; }
  .andare .treenav.accordion > li {
    border-top: 1px solid #eeeeee; }
    .andare .treenav.accordion > li a {
      line-height: 25px;
      font-weight: bold;
      width: 190px;
      display: inline-block; }
    .andare .treenav.accordion > li .handle {
      width: 25px;
      height: 25px;
      cursor: pointer;
      float: left; }
    .andare .treenav.accordion > li small {
      font-weight: normal; }
.andare .navigation .add {
  background: url(../../images/andare/icon-mix.png) no-repeat 5px 7px;
  padding: 3px 3px 3px 25px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 3px;
  color: #333333;
  font-weight: bold;
  line-height: 25px; }
  .andare .navigation .add:hover {
    background-color: #eeeeee; }
  .andare .navigation .add.selected {
    background-color: #d2ebf0; }
  .andare .navigation .add span {
    display: block; }
.andare .navigation > .no-items {
  margin: 10px 0 5px;
  color: #cccccc; }
.andare .navigation .search {
  width: 250px;
  background-image: url(../../images/andare/ico-search-16x16.png);
  background-repeat: no-repeat;
  background-position: right center;
  margin: 10px 0px 5px; }

/* treenav.css - end */
/* messages.css - start */
.flash {
  background: #dceffb; }
  .flash a {
    color: #6698ff; }
    .flash a:hover {
      color: #8ab0ff; }
  .flash p {
    font-size: 12px;
    color: #777777;
    font-weight: bold;
    background: url(../../images/andare/ico-16x16-alerts.png) no-repeat scroll 10px 6px;
    padding: 7px 10px 7px 36px;
    line-height: 16px; }
    .flash p.warning {
      background: url(../../images/andare/ico-16x16-alerts.png) no-repeat scroll 10px -94px #fbf3dc; }
    .flash p.error {
      background: url(../../images/andare/ico-16x16-alerts.png) no-repeat scroll 10px -194px #f8d1d8; }
    .flash p.success {
      background: url(../../images/andare/ico-16x16-alerts.png) no-repeat scroll 10px -294px #daefc8; }

.warnings, .information {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #777777;
  font-size: 12px;
  font-weight: bold;
  margin: 10px;
  padding: 7px 10px 7px 36px;
  line-height: 16px;
  display: block;
  background-repeat: no-repeat;
  background-image: url(../../images/andare/ico-16x16-alerts.png); }

.warnings {
  background-position: 10px -94px;
  background-color: #fbf3dc; }

.information {
  background-position: 10px 6px;
  background-color: #dceffb; }

/* messages.css - end */
/* alerts.css - start */

/* alerts.css - end */
