#set ($breadcrumb_divider="<span class=\"divider\">&gt;</span>")

#if($_page_title)
<div class="$_page_title $current_page">
<h2 id="page-title" class="entity_title">
        $_page_title
</h2>
</div>
#end