<li role="presentation">
    <a href="$req.getContextPath()/admin/pipelines">$l.localize("PIPELINES_POPUP_TITLE")</a>
</li>
#if($userHasTemplateAdministratorRights)
    #parse("shared/_dropdown_template_admin.vm")
#end
<li role="presentation">
    <a href="$req.getContextPath()/admin/pipelines/snippet">$l.localize("PIPELINES_SNIPPET")</a>
</li>
<li role="presentation">
    <a href="$req.getContextPath()/admin/plugins">$l.localize("PLUGINS_TAB")</a>
</li>
<li role="presentation">
    <a href="$req.getContextPath()/admin/package_repositories/new">$l.localize("PACKAGE_REPOSITORY_TAB")</a>
</li>