{if modification.comment != null && modification.comment != ""}
    {var comment_map = JSON.parse(modification.comment)}
    {if comment_map.COMMENT != null}
        ${%comment_map.COMMENT%}<br/>
    {/if}
    {if comment_map.TRACKBACK_URL != null}
        Trackback: <a href="${%comment_map.TRACKBACK_URL%}">${%comment_map.TRACKBACK_URL%}</a>
    {else}
        Trackback: Not Provided
    {/if}
{/if}