<textarea id="page-links-template" style="display:none;">
{if pagination && paginator.totalPages > 1}
    {if paginator.hasPrevious()}
        <a href="javascript:void(0)" id="page-previous" class="pagination-previous" onclick="$previousPage">Previous</a>
    {else}
        Previous
    {/if}
    {for page in paginator.pages}
        {if page.isLink() }
            {if page.pageNumber == paginator.currentPage}
                <span class="page-num highlight-warning">${% page.pageNumber %}</span>
            {else}
                <a href="javascript:void(0)" id="page_${% page.pageNumber %}" onclick="$page" class="page-num">${% page.pageNumber %}</a>
            {/if}
        {/if}
        {if page.isSuspension() }
            ...
        {/if}
    {/for}
    {if paginator.hasNext()}
        <a href="javascript:void(0)" id="page-next" class="pagination-next" onclick="$nextPage">Next</a>
    {else}
        Next
    {/if}
{/if}
</textarea>
<div id="page_links" class="pages">
</div>
