body{
    font-size: 12px;
}
ol{
    margin-left: 12px;
}
.content_wrapper_inner li{
    list-style-type:decimal;
    list-style-position: inside;
    list-style-image: inherit;
}
.content_wrapper_inner li{
    display:block;
    clear: both;
    margin-top: 12px;
}
body#prototype li span{
    display: block;
    font-style: italic;
}
