## layout level variable
#set ($title = "Artifacts for $jobIdentifier.pipelineName > $jobIdentifier.pipelineLabel > $jobIdentifier.stageName > $jobIdentifier.stageCounter > $jobIdentifier.buildName")
#set($extra_css_list = ['toolkit', 'pipeline-tab'])
#set($_hide_collapse-sidebar-button = true)
#parse("shared/_header.vm")

<div id="yui-main">
    <div class="yui-b">
        <div class="bd-container rounded-corner-for-pipeline">
            <b class="c1"></b><b class="c2"></b><b class="c3"></b><b class="c4"></b>
            <div id="rest-output">
                <h2>$title</h2>

                <div id="artifacts" class="container-in-body">
                    #parse ("shared/_artifacts.vm")
                </div>
            </div>
        </div>

#parse("shared/_footer.vm")