.andare .treenav {
  float: none; }
  .andare .treenav ul {
    clear: both;
    display: block;
    float: none;
    overflow: hidden; }
  .andare .treenav li {
    background: url(../../images/andare/component-treenav.png) no-repeat 3px -48px transparent;
    clear: both;
    margin-top: 3px;
    padding-top: 2px;
    display: block;
    float: none; }
    .andare .treenav li .entity {
      border-radius: 3px;
      margin-left: 25px;
      padding-left: 5px; }
      .andare .treenav li .entity form {
        display: none; }
      .andare .treenav li .entity:hover {
        background-color: #eeeeee; }
        .andare .treenav li .entity:hover form {
          display: block; }
    .andare .treenav li a {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      color: #333333; }
      .andare .treenav li a span {
        padding: 0px 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        line-height: 24px;
        display: block; }
    .andare .treenav li.empty-node {
      background: none;
      margin: 0px 15px 5px 15px;
      padding: 10px 0px 5px 0px; }
      .andare .treenav li.empty-node:hover span {
        background: none; }
      .andare .treenav li.empty-node a {
        margin-left: 0px; }
        .andare .treenav li.empty-node a.add span {
          padding-left: 20px; }
    .andare .treenav li.last {
      background-position: 3px -72px; }
    .andare .treenav li.selected > div > form, .andare .treenav li.grey_selected > div > form {
      display: inline-block !important; }
    .andare .treenav li.selected > div, .andare .treenav li.grey_selected > div {
      background-color: #d2ebf0; }
    .andare .treenav li.grey_selected > div {
      background-color: #eeeeee; }
    .andare .treenav li ul {
      background: white;
      padding-left: 25px; }
      .andare .treenav li ul li.empty-node {
        color: #cccccc; }
    .andare .treenav li.has-children {
      background-position: 5px -19px; }
      .andare .treenav li.has-children.collapsed {
        background-position: 5px 3px; }
        .andare .treenav li.has-children.collapsed > ul {
          display: none; }
  .andare .treenav.accordion > li {
    border-top: 1px solid #eeeeee; }
    .andare .treenav.accordion > li a {
      line-height: 25px;
      font-weight: bold;
      width: 190px;
      display: inline-block; }
    .andare .treenav.accordion > li .handle {
      width: 25px;
      height: 25px;
      cursor: pointer;
      float: left; }
    .andare .treenav.accordion > li small {
      font-weight: normal; }
.andare .navigation .add {
  background: url(../../images/andare/icon-mix.png) no-repeat 5px 7px;
  padding: 3px 3px 3px 25px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-radius: 3px;
  color: #333333;
  font-weight: bold;
  line-height: 25px; }
  .andare .navigation .add:hover {
    background-color: #eeeeee; }
  .andare .navigation .add.selected {
    background-color: #d2ebf0; }
  .andare .navigation .add span {
    display: block; }
.andare .navigation > .no-items {
  margin: 10px 0 5px;
  color: #cccccc; }
.andare .navigation .search {
  width: 250px;
  background-image: url(../../images/andare/ico-search-16x16.png);
  background-repeat: no-repeat;
  background-position: right center;
  margin: 10px 0px 5px; }
