.yui-ge.build_summary_page {
    margin-top : 0;
}

.relative_box{
    position:relative;
}

/* Define status colours across the entire site */

.passed {
    background-color: #F6FFE4;
    background-color: transparent;
    color : #000;
}

.scheduled,
.assigned,
.preparing,
.building,
.completing
{
    background-color: #FFFEE2;
    background-color: transparent;
}

.failed,
.failing,
.cancelled
{
    background-color: #FFE1E0;
    background-color: transparent;
    color: #000;
}

.inactive,
.discontinued,
.unknown,
.building_unknown
{
    background-color: #ECE9D8;
    background-color: transparent;
    color : #666;
}

/* Only one grade of colour for building and inactive projects */

.building_passed {
    background-color: #B6FFB1;
    color : #030;
}

.building_failed {
    background-color: #FFC2C9;
}

.projects_summary .info {
    font-weight : bold;
    border : 0px;
}

.projects_summary .rate {
    font-size : 1em;
}

.tabContent {
    clear : both;
    background-color : #FFF;
}

.entry img {
    margin-right : 5px;
}


.subtitle {
    font-weight:bold;
}

/* Modifications style for build detail and stage detail */
.modifications {
    border: none;
    width: 100%;
    *width: 95%;
    font-size: 0.85em;
}

.modifications .summary {
    padding-top:1em;
    padding-bottom:0.5em;
}

.modifications th,
.modifications th .highlight-false,
.modifications td {
    border: none;
    padding: 0.25em 0;
    line-height: 1em;
}

.modifications .highlight-true {
    font-style: italic;
    /*background-color: #F9F0B5;*/
}

.modifications .odd {
    background-color: #FFF;
}

.modifications .even {
    background-color: #FFF;
}

.modifications .user {
    background: transparent url(../images/user.gif?13.4.1) no-repeat left 50%;
    padding-left:18px;
    font-weight: bold;
    line-height: 1.22em;
}

.modifications .comment {
    line-height: 1.22em;
}

.modifications .normal {
    font-weight:normal;
    line-height: 1.22em;
}
