.pagination {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.pagination .current_page {
    font-weight: bold;
}

.pagination span,
.pagination a {
    margin-right: 4px;
}
