<?xml version="1.0" encoding="utf-8" ?>
<go-plugin id="yum" version="1">
    <about>
        <name>Yum plugin</name>
        <version>1.0.0</version>
        <target-go-version>13.3</target-go-version>
        <description>Plugin that polls a yum repository</description>
        <vendor>
            <name>ThoughtWorks Go Team</name>
            <url>www.thoughtworks.com</url>
        </vendor>
        <target-os>
            <value>Linux</value>
        </target-os>
    </about>
</go-plugin>

