<div id="tab-content-of-materials" class="widget" $modification_extra_attrs>
    <script type="text/javascript">
        var json = ${presenter.materialRevisionsJson};
    </script>
    <script type="text/javascript">
        Event.observe(window, 'load', function(){
            $('tab-content-of-materials').innerHTML = $('tab-content-of-materials-template').value.process({revisions:json});
        });
    </script>
    #parse('build_detail/_material_revisions_jstemplate.vm')
</div>
