<div id="tab-content-of-tests" class="widget" $tests_extra_attrs>
    <div class="files">
        #if( $presenter.hasTests())
           <iframe src="$req.getContextPath()/${presenter.indexPageURL}" width="95%" height="500" frameborder="0"></iframe>
        #else
            #parse("build_detail/_test_output_config.vm")
        #end
    </div>
</div>
