/* CSS 3 Mixins */
.page_header, .pipeline_history,
.yui-b .Job,
.yui-b .Server,
#admin-page .Administration,
#my-cruise-page .Preferences {
  background: #f7f7f7;
  /*@include box-shadow(0,1px,1px,rgba(33, 33, 33, 0.1));*/
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#eeeeee));
  background: -moz-linear-gradient(top, #f7f7f7, #eeeeee);
  /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#eeeeee') */
  -webkit-box-shadow: 0 0 2px #cccccc;
  -moz-box-shadow: 0 0 2px #cccccc;
  box-shadow: 0 0 2px #cccccc;
  border-bottom: 1px solid #cccccc;
  position: fixed;
  height: 25px;
  top: 45px;
  z-index: 1000;
  right: 0;
  left: 0;
  padding: 10px 15px; }
  .ie9 .page_header, .ie9 .pipeline_history, .ie9
  .yui-b .Job, .ie9
  .yui-b .Server, .ie9
  #admin-page .Administration, .ie9
  #my-cruise-page .Preferences {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(opacity=99)'; }
  .ie8 .page_header, .ie8 .pipeline_history, .ie8
  .yui-b .Job, .ie8
  .yui-b .Server, .ie8
  #admin-page .Administration, .ie8
  #my-cruise-page .Preferences {
    border-bottom: 1px solid #dddddd; }
  .ie7 .page_header, .ie7 .pipeline_history, .ie7
  .yui-b .Job, .ie7
  .yui-b .Server, .ie7
  #admin-page .Administration, .ie7
  #my-cruise-page .Preferences {
    border-bottom: 1px solid #dddddd; }

.shadow {
  -webkit-box-shadow: 0 3px 3px rgba(33, 33, 33, 0.2);
  -moz-box-shadow: 0 3px 3px rgba(33, 33, 33, 0.2);
  box-shadow: 0 3px 3px rgba(33, 33, 33, 0.2);
  border-bottom: 0 none; }
  .ie8 .shadow {
    border-bottom: 1px solid #bbbbbb; }
  .ie7 .shadow {
    border-bottom: 1px solid #bbbbbb; }

.pipeline_history,
.yui-b .Job,
.yui-b .Server,
#admin-page .Administration,
#my-cruise-page .Preferences {
  padding: 10px 15px;
  overflow: hidden; }

ul.entity_title li a {
  font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
  line-height: 27px; }

ul.entity_title li {
  background: url("../../images/g9/backgrounds/icon_breadcrumb_arrow.png") no-repeat scroll right 10px transparent;
  padding-right: 12px;
  margin-right: 6px;
  line-height: 27px; }

ul.entity_title li.last {
  padding-right: 0;
  margin-right: 0;
  background: none; }

ul.entity_title li.last > *, h1.entity_title {
  color: #3d3d3d !important;
  font-size: 21px !important;
  font-weight: 400 !important;
  line-height: 1.2em; }

h1.entity_title {
  float: left; }

#yui-main .page_header a {
  font-weight: bold; }

#yui-main .page_header .label a {
  font-size: 20px; }

#yui-main .page_header a:hover {
  color: #2980ec; }

#pipeline_header .feed {
  background: url("../../images/icon-rss.png") no-repeat;
  height: 18px;
  margin-top: 3px;
  padding-right: 15px;
  float: right; }

.admin_pause_info_and_controls {
  /*color: #FFF;*/
  margin-left: 15px;
  margin-top: 3px; }

.admin_pause_info_and_controls .pause_description {
  font-size: 11px; }

#pause_info_and_controls > span {
  float: left;
  padding: 6px; }

.admin_pause_info_and_controls .operate {
  float: left; }

.pause_reason input[type=text] {
  display: block;
  margin-top: 10px;
  width: 250px; }

/*
 * Pipeline/Stage Details Header
 */
#body_content .locked_instance {
  float: right;
  margin: 8px 0 0 10px;
  padding: 0 0 0 0px;
  border-left: 1px dotted #999999;
  color: #ccc; }

#body_content .page_header .locked_instance {
  float: left;
  margin: 8px 0 0 10px;
  padding: 0 0 0 10px;
  border-left: 1px dotted #999999;
  color: #ccc; }

#body_content .deploy .locked_instance,
#body_content .pipeline_operations .locked_instance {
  float: right;
  border: none;
  margin: 6px 0 0 10px;
  color: #555555; }
